<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>Dashboard</title>
  </head>
  <body>
    <div id="wrapper">
      <h1 class="subHead">Dashboard</h1>
        
      <div id="displayWrapper">
        <h3>{{current_user}}</h3>
        <p>Email: {{current_user.email}}</p>
        <p>Name: {{current_user.first_name}} {{current_user.last_name}}</p>
        <p>PW: {{current_user.password}}</p>
        <a href="/logout" class="navLink">Logout</a>
      </div>
  </body>
</html>
