<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>Edit Form</title>
  </head>
  <body>
    <div id="wrapper">
      <h1 class="subHead">Edit A User</h1>
      <a href="/show_all" class="navLink">All Users</a>
      <div id="bodyDiv">
        <form action="/users/update/{{user.id}}" method="post" class="inputForm">
          <div class="formGroup">
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name" value="{{user.first_name}}"/>
          </div>
          <div class="formGroup">
            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name" value="{{user.last_name}}" />
          </div>
          <div class="formGroup">
            <label for="email">Email:</label>
            <input type="email" name="email"  value="{{user.email}}"/>
          </div>
          <div class="formGroup">
            <label for="password">Password:</label>
            <input type="password" name="password"  value="{{user.password}}"/>
          </div>
          <button>Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
